useDynLib("rbamtools")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "AlignedBases",
    "bamClose",
    "bamOpen",
    "bamSave",
    "CigarData",
    "CreateIndex",
    "Duplicate<-",
    "Duplicate",
    "FailedQC<-",
    "FailedQC",
    "filename<-",
    "filename",
    "FirstMate<-",
    "FirstMate",
    "getNext",
    "GetNextAlignment",
    "GetReferenceCount",
    "GetReferenceData",
    "GetReferenceID",
    "initialize",
    "InsertSize",
    "Mapped<-",
    "Mapped",
    "MapQuality",
    "MateMapped<-",
    "MateMapped",
    "MatePosition",
    "MateRefID",
    "MateReverseStrand<-",
    "MateReverseStrand",
    "name",
    "Paired<-",
    "Paired",
    "position",
    "PrimaryAlignment<-",
    "PrimaryAlignment",
    "ProperPair<-",
    "ProperPair",
    "Qualities",
    "QueryBases",
    "refData<-",
    "refData",
    "refID",
    "ReverseStrand<-",
    "ReverseStrand",
    "Rewind",
    "samHeader<-",
    "samHeader",
    "SecondMate<-",
    "SecondMate" 
)
exportClasses(
    "bamAlignment",
     "bamReader",
     "bamWriter" 
)
